body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
a{
    color: inherit;
    text-decoration: inherit;
}
#bannerImage{
    width: 100%;
    height: 700px;
    background-image: url("./images/university-image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#others-bannerImage{
    width: 100%;
    height: 350px;
    background-image: url("./images/studentHat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
#logo-name{
    color: white;
    margin-left: 3%;
    font-size: 1.2rem;
    font-weight: bolder;
}
#webpage-links{
    display: flex;
    margin-right: 10%;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
}
.links{
    margin-right: 5%;
}

#banner-content{
    text-align: center;
    margin-top: 160px;
    color: white;
}

#banner-content-others{
    text-align: center;
    margin-top: 100px;
    color: white;
}

#banner-heading{
    font-size: 3.5rem;
    font-weight: bolder;
}
#banner-tagline{
    font-size: 1.3rem;
}
#banner-button,#campus-button{
    border: 1px solid white;
    width: 200px;
    height: 40px;
    color: white;
    font-weight: 600;
    background-color: transparent;
    cursor : pointer;
}


#courses,#Global-Campus,#courses-section2{
    width: 100%;
    margin-top: 7%;
    text-align: center;
}

#courses-heading,#global-campus-heading{
    font-size: 1.8rem;
}
#courses-tagline,#global-campus-tagline{
    color: #898AA6;
    margin-top: -1%;
}
#course-grid{
    margin-top: 6%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}

@media screen and (max-width : 800px){
    #course-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    #course-grid > div{
        margin-top: 1%;
    }
    #aboutus-section2{
        display: grid !important;
        grid-template-columns: 1fr !important;
        text-align: center;
    }
    #aboutus-image > img{
        margin-top: 2%;
    }
    #aboutus-content > p{
        margin-left: auto;
        margin-right: auto;
    }
    #facilities-grid{ 
        display: grid !important;
        grid-template-columns: 1fr !important;
        width: 80% !important;
        height: 2700px !important;
    }
    .facilities-item{
        height: 900px !important;
    }
    .facilities-image{
        height: 80% !important;
    }
}

#course-grid > div {
    background-color: #FBC5C5;
    padding: 10px;
    border-radius: 5px;
}

.course-para{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #898AA6;
    line-height: 1.5;
}

#global-campus-image{
    width: 80%;
    height: 300px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./images/meetingHome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#campus-image-content{
    color: white;
    font-size: 1.3rem;
    padding-top: 5%;
}
#campus-image-content :nth-child(2){
    margin-top: -2%;
}

footer{
    width: 100%;
    margin-top: 7%;
    text-align: center;
    background-color: #F0EBE3;
    padding-top: 4%;
}

footer :first-child{
    font-size: 1.4rem;
}
footer :nth-child(2){
    margin-top: 3%;
    font-size: 0.9rem;
    margin-bottom: 0;
    color: #898AA6;
}

#social-media{
    padding-bottom: 2%;
}

#social-media > img{
    cursor: pointer;
    padding-right: 2%;
    padding-right: 2%;
}


#aboutus-section2{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}
#aboutus-content > h1{
    font-size: 1.8rem;
}
#aboutus-content > p{
    color: #898AA6;
    width: 90%;
    line-height: 1.5;
}
#aboutus-image > img{
    width: 100%;
    height: 100%;
}

#explore-more-button{
    border: 1px solid #FFC4C4;
    width: 200px;
    height: 40px;
    color: #FF869E;
    font-weight: 600;
    background-color: transparent;
    cursor : pointer;
}


#facilities-grid{
    margin-top: 6%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    height: 550px;
}

.facilities-image{
    width: 100%;
    height: 50%;
    border-radius: 3px;
}

#contact-section2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    text-align: center;
}
#contact-us-form > input{
    
    height: 40px;
    border : 1px solid #FF869E;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: none;
    font-size: 0.8rem;
    color: #898AA6;
}

textarea:focus, input:focus{
    outline: none;
}

